body{
    background-color: #550000ff;
    color: white;
}

header{
    font-weight: bold;
    width: 100%;
}

#kocka1{
    background-color: #a02c2c;
    border-radius: 25px;
    box-shadow: 7px 7px 3px #ffccaa;
    
}


p{
    text-align: justify;
}

a{
    text-decoration: none;
}

a :hover{
    color: #ffccaa ;
}

h1, h2, h3, cimek{
    color: #ffccaa;
}
h3{
    font-size: 24px;
    text-decoration: underline;
}

h2{
    font-weight: bold;
    font-size: 29px;
}