body{
    background-color: lightblue;
}

#mezo{
    width: 600px;
    border: 3px solid grey;
    border-radius: 25px;
    height: 200px;
    margin-top: 50px;
}

.mezok{
    width: 600px;
    border: 3px solid grey;
    border-radius: 25px;
}

.badge{
    background-color: lightblue;
    color: black;
    font-size: 15px;
    margin: 0 0 10px 0;
}
